{% extends "base_content.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>All Lesson Requests</h2>
                <form method="get">
                    <label for="status">Filter by status:</label>
                    <select name="status" id="status" class="form-control">
                        <option value="">All</option>
                        <option value="allocated">Allocated</option>
                        <option value="unallocated">Unallocated</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
                
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Student</th>
                        <th>Lesson Date</th>
                        <th>Preferred Tutor</th>
                        <th>No. of Weeks</th>
                        <th>Actions</th>
                    </tr>
                    {% for request in requests %}
                    <tr>
                        <td>{{ request.title }}</td>
                        <td>{{ request.status }}</td>
                        <td>{{ request.student }}</td>  
                        <td>{{ request.lesson_date }}</td>
                        <td>{{ request.preferred_tutor }}</td>
                        <td>{{ request.no_of_weeks }}</td>
                        <td>
                            <a href="{% url 'update_request_status' request.id %}" class="btn btn-warning">Update Status</a>
                            <a href="{% url 'generate_invoice' request.id %}" class="btn btn-warning">Generate Invoice</a>
                            {% for invoice in invoices %}
                            {% if invoice.lesson_request == request %}
                            <a href="{% url 'toggle_invoice_paid' invoice.id %}" class="btn btn-primary">{% if invoice.is_paid %} Unmark as paid {% else %} Mark as paid {% endif %}</a>
                            {% endif %}
                            {% endfor %}    
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
