{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.first_name }} {{ user.last_name }}</h1>
      {% if user.role == 'admin' %}
          <h2>Admin Dashboard</h2>
          <div class="mt-3">
              <a href="{% url 'admin_view_requests' %}" class="btn btn-primary">View All Submitted Requests</a>
          </div>
          
      {% elif user.role == 'tutor' %}
        <h2>Tutor Dashboard</h2>
        <div class="mt-3">
        </div>
      
      {% elif user.role == 'student' %}
        <h2>Student Dashboard</h2>
        {% if invoice_actions_needed > 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          You have {{ invoice_actions_needed }} unpaid invoices.
        </div>
        {% endif %}
        <div class="mt-3">
          <a href="{% url 'create_lesson_request' %}" class="btn btn-primary">Submit Lesson Request</a>
          <a href="{% url 'student_view_invoices' %}" class="btn btn-primary">
            View your invoices
            {% if invoice_actions_needed > 0 %}
            <span class="badge rounded-pill bg-danger">
              {{ invoice_actions_needed }}
              <span class="visually-hidden">action needed</span>
            </span>
            {% endif %}
          </a>
          <a href="{% url 'student_view_requests' %}" class="btn btn-secondary">View Your Requests</a>
        </div>
        <div class="mt-5">
          <h3>Your Allocated Lessons</h3>
          {% if allocated_lessons %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Tutor</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% for lesson in allocated_lessons %}
                  <tr>
                    <td>{{ lesson.lesson_request.title }}</td>
                    <td>{{ lesson.lesson_request.preferred_tutor }}</td>
                    <td>{{ lesson.date|date:"Y-m-d" }}</td>
                    <td>{{ lesson.date|date:"H:i" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>You have no allocated lessons at the moment.</p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
