{% extends "base_content.html" %}

{% block content %}
    <div class="container">
        <table class="table table-striped">
            <h2> Invoices </h2>
            <thead>
                <tr>
                  <th>Language</th>
                  <th>Tutor</th>
                  <th>Amount</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                  <tr>
                    <td>{{ invoice.lesson_request.language }}</td>
                    <td>{% if invoice.lesson_request.tutor_id %}{{ invoice.lesson_request.tutor_id.first_name }} {{ invoice.lesson_request.tutor_id.last_name }}{% else %}No Tutor Assigned{% endif %}</td>
                    <td>£{{ invoice.amount }}</td>
                    <td>{% if invoice.is_paid %}PAID{% else %}NOT PAID{% endif %}</td>
                  </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}